<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">WELCOME TO BANK</div>
    <div class="col"></div>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form [formGroup]="loginForm" (ngSubmit)="login()" >
          <div class="form-group">
            <!-- {{ acno }} -->
            <label for="acno">AccountNumber</label>
            <!-- <input #acno type="text" class="form-control" id="acno" aria-describedby="Accountnumber"> -->
            <!-- <input (click)="acnoChange($event)" type="text" class="form-control" id="acno" aria-describedby="Accountnumber"> -->
            <!-- <input [(ngModel)]="acno" name="acnotst" type="text" class="form-control" id="acno" aria-describedby="Accountnumber"> -->
            <!-- <input [value]="pwd" name="pwd" type="password" class="form-control" id="pwd">  -->
            <input formControlName="acno" name="acnotst" type="text" class="form-control" id="acno"aria-describedby="Accountnumber">
            <div *ngIf="getError('acno')" class="error">Acno is invalid</div>
          </div>
          <div class="form-group">
            <label for="pwd">Password</label>

            <!-- <input #pwd type="password" class="form-control" id="pwd"> -->
            <!-- <input  (click)="pwdChange($event)" type="text" class="form-control" id="acno" aria-describedby="Accountnumber"> -->
            <!-- <input [(ngModel)]="pwd" name="pwd" type="password" class="form-control" id="pwd">  -->
            <!-- <input [value]="pwd" name="pwd" type="password" class="form-control" id="pwd">  -->
            <input formControlName="pwd" name="pwd" type="password" class="form-control" id="acno"aria-describedby="Accountnumber">
            <div *ngIf="getError('pwd')" class="error">password is invalid</div>
          </div>



          <!-- <button type="button" class="btn btn-primary" (click)="login(acno,pwd)">login</button> -->
          <!-- <button type="button" class="btn btn-primary" (click)="login()">login</button> -->
          <button type="submit" class="btn btn-primary">Submit</button>
          <a routerLink="register">Register</a>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>